<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oliveyoungyj.modules.item.ItemMapper">

    <resultMap id="resultMapObj" type="com.oliveyoungyj.modules.item.Item"></resultMap>
	
	
	<sql id="selectCommon">
		FROM item a 
		INNER JOIN brand_list b on a.brand_list_seq = b.num
		WHERE 1=1
		
		<if test="shStock != null and !shStock.equals('')">AND a.stock = #{shStock}</if>
		
		<choose>
			<when test="shOption == 1">AND bname LIKE CONCAT('%',#{shValue },'%')</when>
			<when test="shOption == 2">AND a.name LIKE CONCAT('%',#{shValue },'%')</when>
			<when test="shOption == 3">AND numPurchase LIKE CONCAT('%',#{shValue },'%')</when>
		</choose>
		
		
		<choose>
			<when test="shOptionDate == 4">AND a.regist BETWEEN #{shDateStart} AND #{shDateEnd}</when>
		</choose>	
		
	</sql>
	
	<select id="selectList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
			SELECT 
				a.seq
				, b.bname
				, a.name
				, (SELECT FORMAT(a.price, 0)) as price
				, (SELECT FORMAT((a.price * (100-discount)/100), 0)) as salePrice
				, a.regist
				, (SELECT FORMAT(a.numPurchase, 0)) as numPurchase
				, a.stock
		<include refid="selectCommon" />
			ORDER BY a.seq 
		<include refid="Base.selectListLowerForMysql" />
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>
	
	<insert id="insert">
		INSERT INTO Item (
			name
			,discount
			,price
			,info_item
			,info_purchase
			,regist
			,stock
			,useNY
			,delNY
			,brand_list_seq
		)
		VALUES (
			#{name}
			,#{discount}
			,#{price}
			,#{info_item}
			,#{info_purchase}
			,now()
			,1
			,1
			,0
			,#{brand_list_seq}
		)

		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<select id="selectOne" resultMap ="resultMapObj">
		SELECT 
			a.*
		FROM item a
		INNER JOIN brand_list b on a.brand_list_seq = b.num
		WHERE 1=1
			AND a.seq = #{seq}
	</select>
	
	<select id="itemNameAdd" resultMap="resultMapObj">
		SELECT
			seq
			, bname
		FROM
			brand_list
		WHERE 1=1
	</select>
	
	<insert id="insertUploaded">
		INSERT INTO itemUploaded (
			type
			,defaultNY
			,sort
			,path
			,originalName
			,uuidName
			,ext
			,size
			,delNY
			,pseq
			,regIp
			,regSeq
			,regDeviceCd
			,regDateTime
			,regDateTimeSvr
		) values (
			#{type}
			,#{defaultNY}
			,#{sort}
			,#{path}
			,#{originalName}
			,#{uuidName}
			,#{ext}
			,#{size}
			,0
			,#{pseq}
			,#{regIp}
			,#{regSeq}
			,#{regDeviceCd}
			,now()
			,#{regDateTimeSvr}
		)
	</insert>
	
	<select id="selectLastSeq" resultType="Integer">
		SELECT
			seq
		FROM item
		ORDER BY seq DESC
		limit 1
	</select>
	
	<select id="imageUpload" resultMap="resultMapObj">
		SELECT 
			*
		FROM itemUploaded
		WHERE 1=1
			AND pseq = #{pseq}
	</select>
	
</mapper>	