<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oliveyoungyj.modules.codegroup.CodeGroupMapper">

    <resultMap id="resultMapObj" type="com.oliveyoungyj.modules.codegroup.CodeGroup"></resultMap>
	
	<!-- <sql id="selectCommon">
		FROM CodeGroup a
		WHERE 1=1
	</sql> -->
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT 
			a.seq
		    , a.num
		    , a.propertyKor
		    , property 
		    , (SELECT COUNT(b.codeGroup_seq) FROM Code b WHERE a.num = b.codeGroup_seq) as codeNum
		    , a.regDate
		    , a.modDate
		    , a.useNY
		    , a.delNY
		From CodeGroup a
		WHERE 1=1
		
			<!-- AND propertyKor LIKE CONCAT('%',#{shValue},'%') -->
			
			<if test="shDelNY != null and !shDelNY.equals('')">AND a.delNY = #{shDelNY}</if>
			
			<choose>
				<when test="shOption == 1">AND a.num = #{shValue }</when>
				<when test="shOption == 2">AND a.propertyKor LIKE CONCAT('%',#{shValue },'%')</when>
				<when test="shOption == 3">AND property LIKE CONCAT('%',#{shValue },'%')</when>
				<when test="shOptionDate == 4">AND a.regDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				<when test="shOptionDate == 5">AND a.modDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			</choose>
			
	</select>
	
	<insert id="insert">
		INSERT INTO CodeGroup (
			num
			,propertyKor
			,property
			,regDate
			,modDate
			,useNY
			,delNY
		)
		VALUES (
			#{num}
			,#{propertyKor}
			,#{property}
			,#{regDate}
			,#{modDate}
			,1
			,0
		)
		
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<update id="update">
		UPDATE CodeGroup
		SET 
			propertyKor = #{propertyKor}
			, property = #{property}
			, modDate = now()
		WHERE 
		 	seq = #{seq}
	</update>
	
	<update id="uelete">
		UPDATE CodeGroup
		SET 
			delNY = 0
		WHERE 
			seq = #{seq}
	</update>
	
	<delete id="delete">
		DELETE FROM CodeGroup WHERE seq = #{seq}
	</delete>

	<select id="selectOne" resultMap ="resultMapObj">
		SELECT 
			a.*
		FROM CodeGroup a
		WHERE 1=1
			AND a.seq = #{seq}
	</select>
	
</mapper>	