<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oliveyoungyj.modules.code.CodeMapper">

    <resultMap id="resultMapObj" type="com.oliveyoungyj.modules.code.Code"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			b.seq
		    , b.codeGroup_seq
		    , a.propertyKor
			, b.codeseq
		    , b.anothercode
		    , b.name
		    , b.nameEng
		    , b.useNY
		    , b.regDate
		    , b.modDate
		FROM CodeGroup a
		INNER JOIN Code b on a.seq = b.CodeGroup_seq
		
		
		
		<if test="shDelNY != null and !shDelNY.equals('')">AND a.delNY = #{shDelNY}</if>
			
		<choose>
			<when test="shOption == 1">AND a.num = #{shValue }</when>
			<when test="shOption == 2">AND a.propertyKor LIKE CONCAT('%',#{shValue },'%')</when>
			<when test="shOption == 3">AND property LIKE CONCAT('%',#{shValue },'%')</when>
		</choose>
	</select>

	<insert id="insert">
		INSERT INTO Code (
			codeGroup_seq
			, codeseq
			, name
			, nameEng
			, useNY
		)
		VALUES (
			#{codeGroup_seq}
			,#{codeseq}
			,#{name}
			,#{nameEng}
			,1
		)
		
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
</mapper>	