<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oliveyoungyj.modules.member.MemberMapper">

    <resultMap id="resultMapObj" type="com.oliveyoungyj.modules.member.Member"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT 
			a.userSeq
			, a.userGrade
			, a.name
			, (SELECT b.name FROM Code b WHERE a.gender = b.codeseq) as gender
			, a.tel
			, a.email
			, DATE_FORMAT(a.accessDate,'%Y-%m-%d %T') as accessDate
			, a.userDelNY
		FROM user a
		WHERE 1=1
			
			<choose>
				<when test="shOption == 1">AND a.userseq = #{shValue }</when>
				<when test="shOption == 2">AND a.userGrade LIKE CONCAT('%',#{shValue },'%')</when>
				<when test="shOption == 3">AND a.name LIKE CONCAT('%',#{shValue },'%')</when>
				<when test="shOption == 1">AND gender= #{shValue }</when>
				<when test="shOption == 2">AND a.email LIKE CONCAT('%',#{shValue },'%')</when>
				<when test="shOption == 3">AND a.userDelNY = #{shValue }</when>
			</choose>		
	</select>

</mapper>	